body {
    background-color: #3b3a3a;
    padding: 20px;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
    padding-right: 5px;
}

.label-fiat, .label-crypto {
    font-size: 15px;
    font-weight: bold;
}

.label-fiat {
    margin-right: 5px;
}

.label-crypto {
    margin-left: 5px;
    color: green;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    margin: 0 5px; /* Spacing between the switch and the labels */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.5px; /* Adjust the starting position */
    bottom: 2.5px; /* Center vertically */
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(18px); /* Adjust to match the new slider size */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #b7b7b7;
    padding: 20px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-select {
    margin-left: 1px;
    border-radius: 5px;
}

.input-group {
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 0;
}

.history-label {
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
    font-size: 0.7rem;
    font-weight: bold;
}

.rate-label {
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
    font-size: 0.7rem;
    font-weight: bold;
}

.amount-label {
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
    font-size: 1.0rem;
    font-weight: bold;
}

.result-label {
    display: block;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 1px;
    font-size: 1.0rem;
    font-weight: bold;
}

.result-history {
    max-width: 400px;
    height: 100px;
    background-color: #dee2e6;
    padding: 4px;
    border: 2px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* This will allow the box to scroll vertically if the content exceeds the height */
}

.result-history p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: small;
}

label {
    font-weight: bold;
}

span#rateCurrency {
    width: 60px;
}

#buttonConvert {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #0056b3;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 6px;
}

#buttonResetAmount, #buttonResetAll, #reverseButton {
    width: 50%;
    padding: 10px;
    background-color: darkorange;
    color: #fff;
    border: 2px solid #c58100;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
    margin-right: 3px;
}

#buttonConvert:hover {
    background-color: #0056b3;
}

#buttonResetAmount:hover {
    background-color: #c58100;
}

#buttonResetAll:hover {
    background-color: #c58100;
}

#reverseButton:hover {
    background-color: #c58100;
}

.resetButtons-group {
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 10px;
    width: 100%;
    padding: 10px 0;
    font-weight: bolder;
    color: black;
    font-size: 11px;
}

.github-link {
    display: inline-block;
    vertical-align: middle;
}

.github-logo {
    height: 2em;
    vertical-align: middle;
}

.text {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

